.container{
	/*margin-left: 30%;*/
	margin: auto;
	margin-top: 5%;
	width: 50%;
}
body{
	/*background-image: url(contact.jpeg);*/
	background-image: linear-gradient(45deg, violet, darkred, purple);
	background-size: cover;
}
.text{
	color: white;
}

form{
	background-color: rgb(0,0,0,0.6);
	border-radius: 12px;
}
.box{
	margin-left: 15px;
	margin-right: 25px;
}
.head{
	/*background-color: rgb(0,0,0,0.6);*/
	color: white;
	text-align: center;
	padding-top: 10px;
	margin-bottom: -10px;
}